body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button.on {
    background-color: #4CAF50;
    color: white;
}
